/* ReviewCard.css */
.review-card {
    background: linear-gradient(135deg, #F3C9CD 34%, #F0B8C4 54%, #EDAABD 69%, #C4DEA7 89%, #E5DA9F 99%);
    border-radius: 12px;
    transition: all 0.3s ease;

}
.review-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}