/* TikTokCard.css */
.tiktok-card {
	@apply h-[474px] max-w-[267px] overflow-hidden rounded-3xl shadow-xl;
	@apply text-black;
}

.overlay {
	@apply absolute bottom-0 left-0 z-40;
	@apply w-full p-4;
	@apply flex flex-col justify-between;
	@apply text-white;
	@apply transform transition-transform duration-300 ease-in-out;
	height: 50%; /* Initial height to show a bit of the text */
	transform: translateY(80%);
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 70%, rgba(108, 117, 125, 0) 100%);
	overflow-y: hidden; /* Hide overflow initially */
}

.overlay:hover {
	transform: translateY(0);
	height: 40%; /* Expand to 40% on hover */
	overflow-y: auto; /* Enable scrolling if text is longer */
}
