section {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* Estilos para el fondo del header y los botones*/
.custom-gradient {
	background: linear-gradient(
		107.1deg,
		#f9e9de 33.83%,
		#edaabd 69.12%,
		#c4dea7 79.34%,
		#e5da9f 84.55%
	);
}
