@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Hagrid";
	src: url("assets/fonts/Hagrid-Regular-trial.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Hagrid";
	src: url("assets/fonts/Hagrid-Italic-trial.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Hagrid Text";
	src: url("assets/fonts/Hagrid-Text-Extrabold-trial.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Hagrid Text";
	src: url("assets/fonts/Hagrid-Text-Extrabold-Italic-trial.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	/* border: 1px solid rgb(255, 0, 0, 0.2); */
	/* Debug purpose */
	/* TODO: Make this only visible in dev mode */
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	-moz-osx-font-smoothing: grayscale;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	line-height: 1.25;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li {
	color: rgba(117, 143, 117, 1);
}

body {
	--tw-bg-opacity: 1;
	--tw-text-opacity: 1;

	min-height: 100vh;

	font-weight: 500;
	font-family: PPNeueMachina, sans-serif;
	line-height: 1.1;

	color: rgb(1 1 1 / var(--tw-text-opacity));
	background-color: rgba(247, 232, 199, 1);
	background-image: url("/src/assets/img/estrella-background.png");
}

h1,
h2 {
	font-family: "Hagrid Text", sans-serif;
	line-height: 2rem;
	font-size: 1.5rem;
}

p {
	font-family: "Hagrid", sans-serif;
	line-height: 1.5rem;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
